@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Old+South+Arabian&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@100;200;300;400;500;600;700;800;900&family=Merienda:wght@300..900&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .box-with-vignette::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: radial-gradient(
      ellipse at center,
      rgba(0, 0, 0, 0) 30%,
      rgba(0, 0, 0, 0.9) 90%
    );
  }
}
.light-effect {
  position: relative;
  overflow: hidden;
}

.light-effect::after {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: radial-gradient(
    circle,
    rgba(179, 54, 255, 0.5) 0%,
    rgba(179, 54, 255, 0) 80%
  );
  border-radius: 80%;
  animation: lightEffectAnimation 2s infinite linear;
  pointer-events: none;
}

@keyframes lightEffectAnimation {
  0% {
    transform: scale(0.5);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
